{% extends "base.html" %}

{% block main %}
<h1>Contact Form</h1>
<hr>
<p>Fill in this form to contact the site owners.</p>

<form class = "contactForm" method = "POST" action="">
    {{ form.csrf_token }}

    <strong> {{ form.name.label }} </strong>
    <strong style="color: red;">(Required)</strong>
    <p>Please enter your full name</p>
    {{ form.name(size=40, placeholder = "eg. Abegail McCalla") }}
    <br><br>

    <strong> {{ form.email.label }} </strong>
    <strong style="color: red;">(Required)</strong>
    <p>Please enter your e-mail address</p>
    {{ form.email(size=40, placeholder = "eg. eg@eg.com") }}
    <br><br>

    <strong> {{ form.subject.label }} </strong>
    <strong style="color: red;">(Required)</strong>
    <p>Please enter the subject of the message.</p>
    {{ form.subject(size=40) }}
    <br><br>

    <strong> {{ form.message.label }} </strong>
    <strong style="color: red;">(Required)</strong>
    <p>Please enter the message you would like to send.</p>
    {{ form.message(size=70) }}
    <br><br>
    <button style="background-color: blue; color: white;" type = "submit">Send</button>
</form>
{% endblock %}